/*
#2157DC
#4E93DA
*/
* {
  font-family: 'Comfortaa', cursive;
  color: white;

  overflow-x: hidden;
}

.hero {
  background: rgb(27, 78, 221);
  background: linear-gradient(
    340deg,
    rgba(27, 78, 221, 1) 30%,
    rgba(82, 152, 218, 1) 100%
  );

  height: 80vh;
}

.about {
  background: rgb(27, 78, 221);

  height: 40vh;
}

.aus-wrapper {
  color: white;
  fill: white;
}

.card-grid {
  display: flex;
  /* margin: -12px; */
}

.card-text > p {
  color: black;
}

.cards-section {
  min-height: 40vh;
}

.card-item {
  color: black;
  flex-grow: 0;
  padding: 24px;

  max-width: 100%;
  flex-basis: 100%;
}

.card-item-img div img {
  color: rgba(27, 78, 221, 1);
  fill: rgba(27, 78, 221, 1);
}

@media (min-width: 1536px) {
  .card-item {
    max-width: 33%;
    flex-basis: 33%;
  }
}

.toolbar-link {
  margin-left: 36px;
  font-weight: 700;
}
